@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: Ubuntu;
  background-color: #323232;
  margin-bottom:40px;
}

body::-webkit-scrollbar{
  display: none;
}

.content {
  margin-bottom:200px;
}

.navbar {
  display: block;
  background-color: rgba(31, 31, 31, 0.9);
}

.main, .picturepage {
  position: relative;
  top: 80px;
  display: block;
  padding: 10px;
  margin: auto;
  max-width: 95%;
  margin-bottom: 40px;
}

h1 {
  color: #fff;
  margin:auto;
  font-size: 2rem;
}

h2 {
  margin: auto;
  color: #fff;
  font-size: 1.8rem;
  padding: 5px;
  position:relative;
}

h3 {
  margin: auto;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
}

#maintext {
  color: #fff;
  font-size: 1rem;
  padding: 5px;
  width: 80%
}

#finaltext {
  color: #fff;
  font-size: 1rem;
  padding: 5px;
  width: 80%
}

#spoopyvideo {
  width:0px;
  height:0px;
}

.button1  {
  color:#fff;
  background-color: #1f1f1f;
  position:relative;
  top: 20px;
}

.button2  {
  color:#fff;
  background-color: #1f1f1f;
  position:relative;
  top:5px;
}

.btn {
  margin:5px;
}

.size_l {
  height:300px;
  width:300px;
}

#red {
  background-color: red;
  display:none;
}

#blue {
  background-color: blue;
}

.colorboxes {
  margin-top:10px;
  position:relative;
  top:30px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(31, 31, 31, 0.9);
  text-align: center;
}

.howmany {
  position:relative;
  top:100px;
  display:block;
  margin:auto;
}

.calendarcontent {
  position: relative;
  top: 80px;
  height: 1500px;
  margin-bottom: 70px;
  background-image: url(../img/julkalender.jpg);
  background-position: top;
  background-size: 100%;
  box-shadow: 10px 10px 30px 0px #000;
  min-width: 1000px;

}

.slot {
  width:200px;
  height:200px;
  float: left;
  margin: 13px;
  text-align: center;
}

#calendar {
  position: relative;
  top: 30px;
  max-width: 940px;
  min-width: 940px;
}

#christmasheader {
  text-align: center;
  position: relative;
  top:25px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 4px 4px 5px #000;
}

.christmasnumber {
  color: #fff;
  line-height: 200px;
  font-size: 50px;
  text-shadow: 4px 4px 5px #000;
}

.twitterbox {
  height: 800px;
  overflow-y: scroll;
  float:left;
}

.twitterbox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.twitterbox::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.twitterbox::-webkit-scrollbar-thumb
{
	background-color: #1f1f1f;
}

.slideshow {
  position:absolute;
  left:0px;
  top: 60px;
  display: block;
  margin: auto;
  max-width: 100%;
  text-align: center;
  height: 90%;
}

.button-right {
  position: fixed;
  right: 0px;
  background-color: rgba(40, 40, 40, 0.9);
  border: none;
  color: #fff;
  bottom: 40px;
  top: 60px;
  z-index: 10;
}

.button-left {
  position: fixed;
  left: 0px;
  background-color: rgba(40, 40, 40, 0.9);
  border: none;
  color: #fff;
  bottom: 40px;
  top: 60px;
  z-index: 10;
}

#slideimg {
  display: block;
  margin: auto;
  min-width: 30%;
  max-width: 65%;
  max-height: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#picturetext {
  color:#fff;
}
