.guildemblem-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../img/guildemblem/guild_emblem_arcana_bg.png");
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
}


#input_wrapper {
    color: white;
    position: absolute;
    width: 100vw;
    margin: 0;
    text-align: center;
    top: 2vh;
    font-size: 1.4rem;
    padding: 0 1vw;
}

input {
    width: auto;
    max-width: 100vw;
}

#original-Img {
    display: none;
}

#upload-Preview {
    position: absolute;
    top: calc(5vw + 53.3vh);
    left: 45.8vw;
    height: 1.8vw;
    width: 1.8vw;
    image-rendering: pixelated;
    object-fit: fill;
}

.disclaimer {
    position: absolute;
    top: 7vh;
    width: 100vw;
    margin: 0;
    font-size: 1rem;
    text-shadow: 3px 3px 1.5rem black;
}

@media only screen and (orientation : portrait) {    
    #upload-Preview {
        top: 115.3vw;
        left: 36.8vw;
        height: 3.5vh;
        width: 3.5vh;
    }
}