.maple-body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.maple-header {
    position: relative;
    top: 2vh;
    font-size: 4rem;
    font-weight: bold;
}

#maple-calendar-body {
    position: absolute;
    top: 0;
    padding-top: 15vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    background-image: url("../img/maplecalendar/maplechristmas.png");
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}

.maple-slot {
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0.7vw;
    text-align: center;
    background-size: 50%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.2vw;
    user-select: none;
    border: dotted 2px rgba(0,0,0,0.3);
}

.maple-box-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    line-height: 9.8vw;
    text-shadow: 2px 2px 1rem black;
}

.disclaimer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: 1rem;
    text-shadow: 3px 3px 1.5rem black;
}

.december-button {
    z-index: 100;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

@media only screen and (max-width: 1440px){
    #maple-calendar-body {
        position: absolute;
        top: 0;
        padding-top: 15vh;
        padding-bottom: 5vh;
        padding-left: 2vw;
        padding-right: 2vw;
        height: auto;
    }

    .maple-header {
        position: relative;
        top: 2vh;
        font-size: 2rem;
        font-weight: bold;
    }

    .maple-slot {
        float: left;
        width: 23vw;
        height: 23vw;
        margin: 0.5vw;
        text-align: center;
        background-size: 50%;
        background-position: 50% 60%;
        background-repeat: no-repeat;
        font-weight: bold;
        font-size: 0.8em;
        padding-top: 0.1vw;
        user-select: none;
        border: dotted 2px rgba(0,0,0,0.3);
    }
    
    .maple-box-number {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        line-height: 20vw;
        text-shadow: 2px 2px 1rem black;
    }

    .disclaimer {
        display: none;
}

@media only screen and (max-width: 1080px){
    #maple-calendar-body {
        position: absolute;
        top: 0;
        padding-top: 15vh;
        padding-bottom: 4vh;
        padding-left: 1vw;
        padding-right: 1vw;
        height: auto;
    }

    .maple-header {
        position: relative;
        top: 3vh;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .maple-slot {
        float: left;
        width: 24vw;
        height: 24vw;
        margin: 0.25vw;
        text-align: center;
        background-size: 50%;
        background-position: 50% 60%;
        background-repeat: no-repeat;
        font-weight: bold;
        font-size: 0.4em;
        padding-top: 0.2vw;
        user-select: none;
        border: dotted 2px rgba(0,0,0,0.3);
    }
    
    .maple-box-number {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        line-height: 24vw;
        text-shadow: 2px 2px 1rem black;
    }

    .disclaimer {
        display: none;
    }
}