.animated-slideshow-item {
    width: 20vw;
    height: 20vw;
    user-select: none;
    pointer-events: none;
    position: absolute;
    border-radius: 5%;
    margin: auto;
}

.animated-item {
    width: 20vw;
    height: 20vw;
    user-select: none;
    pointer-events: none;
    position: absolute;
    border-radius: 0vw;
    margin: auto;
    transition: border-radius 1s ease-in-out;
}

#slideshow-item-1 { transform: rotateY(0deg) translateX(50%); }
#slideshow-item-2 { transform: rotateY(-72deg) translateX(50%); }
#slideshow-item-3 { transform: rotateY(-144deg) translateX(50%); }
#slideshow-item-4 { transform: rotateY(-216deg) translateX(50%); }
#slideshow-item-5 { transform: rotateY(-288deg) translateX(50%); }
#slideshow-item-1-x { transform: rotateX(0deg) translateY(50%); }
#slideshow-item-2-x { transform: rotateX(-72deg) translateY(50%); }
#slideshow-item-3-x { transform: rotateX(-144deg) translateY(50%); }
#slideshow-item-4-x { transform: rotateX(-216deg) translateY(50%); }
#slideshow-item-5-x { transform: rotateX(-288deg) translateY(50%); }
#slideshow-item-1-z { transform: rotateX(0deg) translateY(50%); }
#slideshow-item-2-z { transform: rotateX(72deg) translateY(50%); }
#slideshow-item-3-z { transform: rotateX(144deg) translateY(50%); }
#slideshow-item-4-z { transform: rotateX(216deg) translateY(50%); }
#slideshow-item-5-z { transform: rotateX(288deg) translateY(50%); }
#flip-item-1 { transform: rotate3d(0,1,0, 180deg);}
#flip-item-2 { transform: rotate3d(1,0,0, 0deg);}

#stage {
    perspective: 1200px;
    position: absolute;
    width: 20vw;
    margin: auto 40%;
}

@keyframes slideshow {
    from { transform: rotateY(0deg);}
    to { transform: rotateY(-360deg);}
}

@keyframes slideshowx {
    from { transform: rotateX(0deg);}
    to { transform: rotateX(-360deg);}
}

@keyframes slideshowz {
    from { transform: rotateY(45deg) rotate3d(1, 0, 0, 0deg);}
    to { transform: rotateY(45deg) rotate3d(1, 0, 0, -360deg);}
}

@keyframes animation {
    from { transform: rotateY(0deg);}
    to { transform: rotateY(-900deg);}
}

@keyframes animationout {
    from { transform: rotateY(-540deg);}
    to { transform: rotateY(-360deg);}
}

#animated-slideshow {
    -webkit-animation: slideshow 3s linear infinite;
    animation: slideshow 3s linear infinite;
    transform-style: preserve-3d;
    transform-origin: 10vw 0 0;
}

#animated-slideshow-x {
    -webkit-animation: slideshowx 3s linear infinite;
    animation: slideshowx 3s linear infinite;
    transform-style: preserve-3d;
    transform-origin: 0 10vw 0;
}

#animated-slideshow-z {
    -webkit-animation: slideshowz 3s linear infinite;
    animation: slideshowz 3s linear infinite;
    transform-style: preserve-3d;
    transform-origin: 10vw 10vw 0;
}

#flip-animation-box:hover {
    -webkit-animation: animation 0.8s ease-in-out forwards;
    animation: animation 0.8s ease-in-out forwards;
    transform-style: preserve-3d;
    border-radius: 10vw;
    transition: scale(1.1);
}

#flip-animation-box:hover > img {
    border-radius: 20vw;
    transform-style: preserve-3d;
}

#flip-animation-box {
    -webkit-animation: animationout 0.7s ease-in-out forwards;
    animation: animationout 0.7s ease-in-out forwards;
    transform-style: preserve-3d;
    width: 20vw;
    height: 20vw;
}